@model List<Station>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Station List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Station" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Add new station
            </a>
        </div>
    </div>
</div>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>
            Station Name
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach(var station in Model.OrderBy(i=>i.Id))
        {
        <tr>
            <td>@station.Name</td>
        </tr>
        }
    </tbody>
</table>